header.header
  div.wrapper
    div.header__wrapper
      div.header__logo-wrapper
        a.header__logo(href="#")
          img.header__image(src=require("Images/logo.svg") width="42" height="47" alt="Логотип студии Interior Lounge.")
          div.header__info
            span.header__title Interior Lounge
            span.header__description Дизайн общественных пространств
      div.header__menu-wrapper
        nav.header__nav.main-nav
          div.menu-primary-container
            ul.menu
              li.menu-item.menu-item-has-children
                a(href="#") Наши проекты
                ul.sub-menu
                  li.menu-item.current-menu-item
                    a(href="#") Tomazzi Hall
                  li.menu-item
                    a(href="#") Lounge Hall
                  li.menu-item
                    a(href="#") Astra Hall
              li.menu-item
                a(href="#") Контакты
              li.menu-item.menu-item-feedback
                a(href="#feedback") Оставить отзыв
