.feedback-form {
  padding-top: 82px;
  padding-bottom: 56px;
  background: #F4EFE2;

  &__title {
    margin: 0 0 32px;
    color: $hot-toddy;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
  }
}

.form {
  &__textarea {
    width: 100%;
    height: 160px;
    padding: 16px 16px 16px 15px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid $golden-sand;
    background: $white;
    line-height: 27px;
    resize: none;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      outline: 1px solid $golden-sand;
    }
  }

  &__input {
    width: 540px;
    padding: 16px 16px 19px 15px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid $golden-sand;
    background: $white;
    line-height: 27px;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      outline: 1px solid $golden-sand;
    }
  }

  &__button {
    width: 285px;
    padding-top: 20px;
    padding-bottom: 17px;
    margin-right: 16px;
    border-radius: 8px;
    background: $hot-toddy;
    color: #FFF;
    font-weight: 500;
    line-height: 27px;

    &:hover {
      background: $yukon-gold;
    }

    &:active {
      background: $antique-bronze;
    }

    &:focus {
      outline: 1px solid $golden-sand;
    }
  }

  &__warning {
    display: inline-block;
    margin-top: -3px;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
  }
}
