.reviews {
  padding-bottom: 88px;
  background: #F4EFE2;

  &__list {
    padding-top: 56px;
    border-top: 1px solid $golden-sand;
  }

  &__item {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: auto auto;
    column-gap: 24px;
    margin: 0 0 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__photo-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 50px;
    height: 50px;
    margin-top: -1px;
    background: $golden-sand;
    border-radius: 50%;
  }

  &__photo {
    object-fit: cover;
    text-indent: -100vw;
  }

  &__name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }

  &__text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding-top: 8px;
  }
}
