// basic
$white: #ffffff;
$black: #000000;
$hot-toddy: #9f7303;
$quarter-pearl-lusta: #fffdf8;
$golden-sand: #f5d581;
$early-dawn: #fff7e3;
$yukon-gold: #856103;
$antique-bronze: #684c05;
$ecru-white: #f4efe2;
