extends base

block variables
  - var title = 'Interior Lounge - Главная страница'

block content
  main.main.main-container
    h1 Interior Lounge Дизайн общественных пространств

    section
      div.container
        h2 This is section
